body {
  background: black;
  color: white;
  text-align: center;
  margin-top: 100px;
  font-family: Arial;
}

button {
  min-width: 220px;
  min-height: 64px;

  padding: 18px 32px;
  font-size: 1.4rem;
  border-radius: 14px;
}


@media (max-width: 600px) {
  button {
    min-width: 260px;
    min-height: 72px;
    font-size: 1.6rem;
  }
}


.arena {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#noBtn {
  position: absolute;
  transition: left 0.3s ease, top 0.3s ease;
}



