body {
  background: black;
  color: white;
  text-align: center;
  margin-top: 100px;
  font-family: Arial;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
}

.arena {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#noBtn {
  position: absolute;
  transition: left 0.3s ease, top 0.3s ease;
}
